  body {
    width: 800px;
    margin: 10px auto;
    padding: 20px 20px 20px 20px;
  
  }

  #Deca1, #Deca2, #Deca3, #Mat0, #Mat1, #Mat2, #Mat3, #Mat4, #Mat5, #Mat6, #P1, #P2, #p1-tab, #p2-tab {
    display: none;
  }

  img{
    width: 200px;
  }