@import url("https://fonts.googleapis.com/css2?family=Anton&family=Asap:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #002583;
  --secondary-color: #3758a2;
  --accent-color: #ff7f2d;
  --background-color-1: #f9fcff;
  --background-color-2: #e8f5ff;
  --background-color-3: #bac9fd;

  --white-color: #fff;

  --primary-font-family: "Asap", sans-serif;
  --secondary-font-family: "Anton", sans-serif;
  --font-size: 20px;
  --primary-font-color: #4a4b4b;
}

body {
  font-family: var(--primary-font-family);
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--primary-font-color);
}

h1,
h2 {
  font-family: var(--secondary-font-family);
  display: inline-block;
}

h1 {
  color: var(--white-color);
  text-shadow: -1px 1px 0 var(--secondary-color), 1px 1px 0 var(--secondary-color), 1px -1px 0 var(--secondary-color),
    -1px -1px 0 var(--secondary-color);
}

h2 {
  color: var(--primary-color);
}

#miSelect {
  border: 2px solid var(--primary-color);
}

.img-fluid {
  min-width: 100%;
}

.ms-n1 {
  margin-left: -30px !important;
  z-index: 6 !important;
}

.btn,
.btn:disabled {
  background-color: var(--background-color-3) !important;
  color: var(--primary-font-color) !important;
  border: 2px solid var(--background-color-3) !important;
}

.btn:disabled span {
  font-family: var(--secondary-font-family);
}

.btn:disabled img {
  width: 25px;
  height: auto;
}

.btn-orange,
.btn.active,
.btn:hover,
.btn:focus {
  background-color: var(--accent-color) !important;
  color: var(--white-color) !important;
  border: 2px solid var(--accent-color) !important;
}

.btn-orange:hover,
.btn-orange:focus {
  background-color: var(--white-color) !important;
  color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

a {
  display: inline-block;
  background-color: var(--white-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: calc(var(--font-size) - 4px);
}

a:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

#espacio1,
.bck-1 {
  background-color: var(--background-color-1);
}

.img-section,
.bck-2 {
  background-color: var(--background-color-2);
}

.destacado {
  background-color: var(--primary-color);
}

.nav-tabs {
  border: 0px;
}

.nav-link {
  background-color: var(--background-color-3) !important;
  color: var(--primary-font-color) !important;
}

.nav-link.active,
.nav-link:hover {
  background-color: var(--accent-color) !important;
  color: var(--white-color) !important;
}

.icon-p {
  width: 77px;
}

.card {
  border: 2px solid var(--accent-color);
}

.card-orange p {
  color: var(--accent-color);
}

.divisor {
  background-color: var(--accent-color);
}

.badge {
  background-color: var(--primary-color);
  width: fit-content;
  font-size: var(--font-size);
  font-weight: 400;
  font-family: var(--secondary-font-family);
}

#Deca1,
#Deca2,
#Deca3,
#Deca4,
#Mat0,
#Mat1,
#Mat2,
#Mat3,
#Mat4,
#Mat5,
#Mat6,
#P1,
#P2,
#P3,
#P4,
#P5,
#p1-tab,
#p2-tab,
#p3-tab,
#p4-tab,
#p5-tab,
#navItemP1,
#navItemP2,
#navItemP3,
#navItemP4,
#navItemP5 {
  display: none;
}
